{{- if .Error }}
❌ Error getting wallets balances: {{ .Error }}
{{- else if not .Infos }}
You are not subscribed to any wallets.
{{- else -}}
{{- $chainsData := .Infos -}}
{{- range .Infos }}
{{- $chain := .Chain -}}
{{- $explorers := .Explorers -}}
{{- if gt (len $chainsData) 1 -}}
<strong>{{ .Chain.GetName }}</strong>
{{- end -}}
{{- range .BalancesInfo }}
🌐<i>{{ .Address.Alias.Value }}</i> {{ FormatLinks ($explorers.GetWalletLinks (.Address)) }}
{{- if .BalancesError }}
❌ Error querying balances: {{ .BalancesError }}
{{- else if .Balances }}
Balances:
{{- range .Balances }}
- {{ SerializeAmount . }}
{{- end }}
{{- else }}
Balances:
Wallet is empty.
{{ end }}
{{- if .RewardsError }}
❌ Error querying rewards: {{ .RewardsError }}
{{- else if .Rewards }}
Rewards:
{{- range .Rewards }}
- {{ SerializeAmount . }}
{{- end }}
{{- end }}
{{- if .CommissionsError }}
❌ Error querying commissions: {{ .CommissionsError }}
{{- else if .Commissions }}
Commissions:
{{- range .Commissions }}
- {{ SerializeAmount . }}
{{- end }}
{{- end }}
{{- if .DelegationsError }}
❌ Error querying delegations: {{ .DelegationsError }}
{{- else if .Delegations }}
Delegations:
{{- range .Delegations }}
- {{ .Validator.GetName }}{{ if $explorers }} ({{ FormatLinks ($explorers.GetValidatorLinks (.Validator.Address)) }}){{ end }}: {{ SerializeAmount .Amount }}
{{- end }}
{{- end }}
{{- if .RedelegationsError }}
❌ Error querying redelegations: {{ .RedelegationsError }}
{{- else if .Redelegations }}
Redelegations:
{{- range .Redelegations }}
- {{ .SrcValidator.GetName }}{{ if $explorers }} ({{ FormatLinks ($explorers.GetValidatorLinks (.SrcValidator.Address)) }}){{ end }} -> {{ .DstValidator.GetName }}{{ if $explorers }} ({{ FormatLinks ($explorers.GetValidatorLinks (.DstValidator.Address)) }}){{ end }}: {{ SerializeAmount .Amount }}, ends {{ FormatSince .CompletionTime }}
{{- end }}
{{- end }}
{{- if .UnbondsError }}
❌ Error querying unbonds: {{ .UnbondsError }}
{{- else if .Unbonds }}
Unbonds:
{{- range .Unbonds }}
- {{ .Validator.GetName }}{{ if $explorers }} ({{ FormatLinks ($explorers.GetValidatorLinks (.Validator.Address)) }}){{ end }}: {{ SerializeAmount .Amount }}, ends {{ FormatSince .CompletionTime }}
{{- end }}
{{- end }}
{{ end }}
{{ end }}
{{ end }}
