<a href="https://github.com/QuokkaStake/astronomer">astronomer</a> v {{ .Version }}

This bot can help you to interact with the blockchain, acting as an explorer
and a non-custodial AuthZ wallet.

Created by <a href="https://quokkastake.io">🐹 Quokka Stake</a> with ❤️.

The bot can understand the following commands:
- /help, or /start - display this message
{{- if .Chains }}
- /validator &lt;query&gt; - search for validator(s)
- /validators - display info on validators you are subscribed to
- /params [chain1,chain2] - see chain(s) params
- /supply [chain1,chain2] - see chain(s) supply, bonded ratio and community pool
{{- else }}
- /validator &lt;chain&gt; &lt;query&gt; - search for validator(s)
- /validators &lt;chain1,chain2&gt; - display info on validators you are subscribed to
- /params &lt;chain1,chain2&gt; - see chain(s) params
- /supply &lt;chain1,chain2&gt; - see chain(s) supply, bonded ratio and community pool
{{- end }}
{{- if .HasOneChain }}
- /proposal &lt;ID&gt; - get proposal info
{{- else }}
- /proposal &lt;chain&gt; &lt;ID&gt; - get proposal info
{{- end }}
- /proposals [chain1,chain2] - get active proposals list
- /wallet_link &lt;chain&gt; &lt;address&gt; &lt;wallet alias&gt; - link your wallet
- /wallet_unlink &lt;chain&gt; &lt;address&gt; - unlink your wallet
- /validator_link &lt;chain&gt; &lt;address&gt; - subscribe to a validator
- /validator_unlink &lt;chain&gt; &lt;address&gt; - unsubscribe from a validator
- /balance - see the balances, rewards, delegations etc. of the wallets you are subscribed to
- /chains - see the list of chains this wallet uses
- /chain_bind &lt;chain&gt; - bind a chain to this chat
- /chain_unbind &lt;chain&gt; - unbind a chain from this chat
