{{- if .Error }}
❌ Error getting proposals: {{ .Error }}
{{- else if not .Proposals }}
No active proposals
{{- else -}}
{{- $chainsData := .Proposals -}}
{{- range .Proposals }}
{{- $chain := .Chain -}}
{{- $explorers := .Explorers -}}
{{- if gt (len $chainsData) 1 -}}
<strong>{{ .Chain.GetName }}</strong>
{{- end -}}
{{- if .ProposalsError }}
❌ Error querying proposals: {{ .ProposalsError }}
{{ else if .Proposals }}
{{- range .Proposals }}
<i>🗳Proposal ID:</i> {{ .ID }}
<i>📝Status:</i> {{ .FormatStatus }}
<i>📝Title:</i> {{ .Title }}
<i>⏳Voting ends at:</i> {{ .VotingEndTime }} ({{ FormatSince .VotingEndTime }})
{{- if $explorers }}
🌐{{ FormatLinks ($explorers.GetProposalLinks (.ID)) }}
{{- end }}
{{ end }}
{{- else }}
No active proposals.
{{ end }}
{{ end }}
{{ end }}
