{{- if .Error }}
❌ Error searching for validator: {{ .Error }}
{{- else if not .Chains }}
No chains found.
{{- else -}}
{{- $chainsData := .Chains -}}
{{- range .Chains }}
{{- $chainInfo := . }}
{{- $chain := .Chain -}}
{{- $explorers := .Explorers -}}
<strong>{{ .Chain.GetName }}</strong>
{{- if .Error }}
❌ Error searching for validator: {{ .Error }}
{{ else if .Validators }}
{{- range .Validators }}
{{ .Moniker }}
{{- if .Active }}
✅Active (#{{ .Rank }}, {{.GetVotingPowerPercent }}% voting power)
{{- else if .Jailed }}
❌Jailed
{{- else }}
😔Not active
{{- end }}
🏦{{ SerializeAmount .Tokens }}
📋<i>{{ .Details }}</i>
🤝{{ .SecurityContact }}
🌎{{ .Website }}
💸Commission: {{ .FormatCommission }}%
{{ $chainInfo.FormatValidatorUptime . }}
{{- if $explorers }}
🌐{{ FormatLinks ($explorers.GetValidatorLinks (.OperatorAddress)) }}
{{- end }}
{{ end }}
{{ else }}
No validator found.
{{ end }}
{{ end }}
{{ end }}