{{- if .Error }}
❌ Error searching for validator: {{ .Error }}
{{- else if not .Chains }}
No chains found.
{{- else -}}
{{- $chainsData := .Chains -}}
{{- range .Chains }}
{{- $chain := .Chain -}}
<strong>{{ .Chain.GetName }}</strong>
{{- if .Error }}
❌ Error searching for validator: {{ .Error }}
{{ else if .Validators }}
{{- range .Validators }}
{{ .Validator.Description.Moniker }}
{{- if .Validator.Active }}
✅Active (#{{ .Rank }}, {{.GetVotingPowerPercent }}% voting power)
{{- else if .Validator.Jailed }}
❌Jailed
{{- else }}
😔Not active
{{- end }}
📋<i>{{ .Validator.Description.Details }}</i>
🤝{{ .Validator.Description.SecurityContact }}
🌎{{ .Validator.Description.Website }}
💸Commission: {{ .Validator.FormatCommission }}%
{{- end }}
{{ else }}
No validator found.
{{ end }}
{{ end }}
{{ end }}